body{
    background-color: #000000;
    height: 100%;
}

.girişKısmı{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 380px;
    gap: 20px;
    background: #1b1d1f;
    border-radius: 10px;
    left:40%;
    top:20%;
    z-index: 1;
    display: none;
}

.girişKısmı-top{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding: 10px;
}

.girişKısmı-top>h1{
    color:white;
    font-weight: 400;
    font-size: 20px;
    margin-left: 8px;
}

.girişKısmı-top>i{
    color:white;
    font-size: 20px;
    margin-right: 8px;
    cursor:pointer;
}

.girişKısmı-bottom{
    width:100%;
}

#form-ayarları{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

#form-ayarları>p{
    color:white;
    font-weight: 400;
    font-size: 20px;
}

.users{
    margin-bottom: 20px;
}

.password{
    margin-bottom: 20px;
}

.buttonss{

    color:white;
    font-size: 20px;
    width: 220px;
    height: 40px;
    margin-top: 30px;
    background: #C22139;
    border-radius: 10px;
    cursor: pointer;
}



.containerr{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    background-color:#14161d;
    border-radius: 10px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.header-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 18px;
}

.header-left-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.header-left-ul li {
    white-space: nowrap;
}


.header-right{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 25px;

}
.small-button.register {
    color: #adbac7;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header-right-Profil{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    display: none
}

.header-right-Profil>i{
    font-size: 24px;
    color: white;
}
.kullanıcıİsmi{
    font-size: 20px;
    color: #fff;
    ;
}

a:hover{
    text-decoration: none;
}

.section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 80px;

}

.carousel{
    text-align: center;
}

.carousel>a{
    color:white;
    margin-bottom: 10px;
    font-size: 40px;
}
.item-h1{
    color:white;
    margin-top: 10px;
    text-align: center;
}
.carousel-item img {
    max-height: 400px; /* Maksimum yükseklik */
    width: 100%; /* Genişlik 100% */
    height: auto; /* Yükseklik otomatik ayarlanacak */
}

