:root {
    --bg-color: #212121;
    --bg-color2: #05020d;
    --bg-color3: #14161d;
    --bg-color4: #ffc107;
    --bg-color5: #aaa;
    --bg-color6: #FFF;
    --width: 15.5%;
    --margin: 1.4%;
}

:root {
    --font-roboto: Trebuchet MS, segoe ui, tahoma, Arial, sans-serif;
}


body{
    background-color: #000000;
    height: 100%;
}

.containerr{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    background-color:#14161d;
    border-radius: 10px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.header-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 18px;
}

.header-left-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.header-left-ul li {
    white-space: nowrap;
}


.header-right{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 25px;
}
.small-button.register {
    color: #adbac7;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

a:hover{
    text-decoration: none;
}

.film-kısımları{

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}

.video{
    background: var(--bg-color3);
    width: 55%;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 25px;
}

.video-yazı>h1{
    height: 30px;
    line-height: 30px;
    padding: 5px 20px;
    font-size: 35px;
    color: var(--bg-color6);
}

.video-video{
    display: flex;
    align-items: center;
    justify-content: center;

}

.video-video>video{
    width: 85%;
}

.film-bilgiler{
    background: var(--bg-color3);
    width: 55%;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 25px;
}

.film-yazı>h1{
    color: var(--bg-color6);
}

.film-fotograf{
    width: 100%;
}

.film-fotografı-yazısı{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.ortaklar>p{
    font-size: 14px;
    color: var(--bg-color6);
}

.ortaklar>p:first-child{
    white-space: nowrap;
}

.film-baslik {
    display: flex;
    gap: 55px;
}

.film-baslik>p{
    font-size: 16px;
    color:#aaa;
    ;
}

.film-baslik>:first-child{
    font-size: 16px;
    color: var(--bg-color6);
}


.film-konu{
    display: flex;
    gap: 40px;
    max-height: 138px;
    overflow-y: scroll;
    line-height: 1.3;
    margin-bottom: 20px;
}

#lorems{
    color:#aaa;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(20,22,29);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
}

/* Handle on hover */


.film-türü{
    display: flex;
    gap: 50px;
}

.film-türü>p{
    font-size: 16px;
    color:#aaa;
    ;
}

.film-türü>:first-child{
    font-size: 16px;
    color: var(--bg-color6);
}

.film-kategori{
    display: flex;
    gap: 23px;
}

.film-kategori>p{
    font-size: 16px;
    color:#aaa;
    ;
}

.film-kategori>:first-child{
    font-size: 16px;
    color: var(--bg-color6);
}

.film-yönetmen{
    display: flex;
    gap: 46px;
}

.film-yönetmen>p{
    font-size: 16px;
    color:#aaa;
    ;
}

.film-yönetmen>:first-child{
    font-size: 16px;
    color: var(--bg-color6);
}

.film-oyuncular{
    display: flex;
    gap: 45px;
}

.film-oyuncular>p{
    font-size: 16px;
    color:#aaa;
    ;
}

.film-oyuncular>:first-child{
    font-size: 16px;
    color: var(--bg-color6);
}

.yorumyap{
    background: var(--bg-color3);
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    color: var(--bg-color6);
    border-radius: 10px;
    padding: 20px;
}

.yorumyap>h1{
    color: var(--bg-color6);
    font: 600 21px var(--font-roboto);
}

.formelement{
    display: flex;
    gap: 35px;
}

.inputt{
    width: 70%;
    height: 80px;
    background: #191e25;
    color: var(--bg-color6);
    border-radius: 10px;
    padding-bottom: 35px;
}


.buttons{
    background: #191e25;
    height: 45px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 15px;
    width: 120px;
}
